.cover__link {
    position: relative;
    margin: auto;
  
    max-width: 1184px;
    min-height: 740px;
    text-decoration: none;

    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
}

.cover__link::before {
    content: '';

    background: #2A2C2F;

    height: 100%;
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    opacity: 0.3;
  }

  .cover__link:hover::before {
    opacity: 0.8;
  }

  @media screen and (min-width: 1024px) {
    .cover__link {
     min-height: 640px;
    }
  }