.cover__title {
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
/* or 106% */

text-align: center;

color: #FFFFFF;


margin: 0 auto;
display: block;
width: 560px;
padding-top: 245px;

text-decoration: none;
}