.place {
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 47% 49%;

    padding-top: 80px;
}

.place:first-child {
    padding-top: 0;
}


@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        column-gap: 28px;
    }
}